@using cs_test
@{
    var widget = Widget.MakeWidget();
}

<!DOCTYPE html>
<html>
<head>
    <title>cs-test</title>
</head>
<body>
    <h1>cs-test</h1>

    <p>The widget says: @widget.ToString()</p>

    <p>See the <a href="https://github.com/dylan-kerr/cs-test">source on GitHub</a></p>
</body>
</html>
